<h1>Create a new user</h1>

<form method="post" action="/users"vaccept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="form_authenticity_token">
    
    <label for="user_username">User Name: </label>
    <input type="text" id="user_username" name="user[username]" >
    <br>

    <label for="user_email">Email: </label>
    <input type="text" id="user_email" name="user[email]" >
    <br>

    <label for="user_password">Password: </label>
    <input type="password" id="user_password" name="user[password]">
    <br>

    <input type="submit">
</form>